*
{
    outline: none;
    font-family: Segoe UI, Tahoma, Calibri, Verdana, Helvetica, sans-serif;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    line-height: normal;
}
html
{
    background: #404040;
    color: #eee;
}
.headli
{
    list-style: none;
    font-size: 19px;
    font-weight: 500;
    margin-left: -20px;
}

::-webkit-scrollbar 
{
  width: 8px;
  height: 0;
  cursor: pointer;
}
::-webkit-scrollbar-thumb 
{
  background: linear-gradient(93deg,#09e4ad,#38abef) !important;
  border-radius: 50px;
  cursor: pointer;
}
::-webkit-scrollbar-track 
{
  background: #000 !important;
}

#wrap
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100vw - 70px);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: center;

    margin: 35px;
    border-radius: 20px;
    background: #0a1817;
}
html
{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
body
{
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
}
html, body {
    scroll-behavior: smooth;
  }
.none
{
    display: none !important;
}
.nm
{
    margin: 0;
}
li > img
{
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    width: 90%;
    max-width: 560px;
    height: auto;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
li
{
    text-align: left;
    font-size: 17px;
    line-height: normal;
    margin-bottom: 10px;
}
a {
    color: inherit;
    text-decoration: none;
}
#clickhere, a
{
    color: #89F8F2;
    cursor: pointer;
}
ol
{
    margin: 0;
}
#toggle
{
    background: #000;
    padding: 25px;
    border-radius: 8px;
    overflow: hidden;
    /*transition: height 0.44s ease;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
}
.col
{
    color: #89F8F2;
}
#clickhere, a:hover
{
    text-decoration: underline;
}
#clicked
{
    color: #89F8F2;   
}
.grad
{
  color: #11d6fd;
  background: -o-linear-gradient(bottom,#09e4ad,#38abef);
  background: -webkit-gradient(linear,left bottom, left top,from(#09e4ad),to(#38abef));
  background: linear-gradient(-360deg,#09e4ad,#38abef);
  -webkit-background-clip: text ;
  -webkit-text-fill-color: transparent ;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.grad.movinggrad
{
  background: -o-linear-gradient(right,#09e4ad,#38abef);
  background: -webkit-gradient(linear,right top, left top,from(#09e4ad),to(#38abef));
  background: linear-gradient(270deg,#09e4ad,#38abef);
    background-size: 140% auto ;  
	  -webkit-background-clip: text ;
  -webkit-text-fill-color: transparent ;  
  -webkit-animation: movingrad 1.25s ease infinite;  
          animation: movingrad 1.25s ease infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
  @-webkit-keyframes movingrad {
    to {
      background-position: 100% center ;
    }
  }
  @keyframes movingrad {
    to {
      background-position: 100% center ;
    }
  }

h1 {
    font-size: 76px;
    font-weight: 500;
    margin: 6px;
    margin-top: 30px;
    position: relative;
}

h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 8px;
    color: #ccc;
    margin-bottom: 40px;
    margin-top: 0;
}

h3 {
    font-weight: 400;
    font-size: 19px;
}

.keys
{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    /*
    color: #fff;
    background: #363636;
    */
    color: #000;
    background: #dfdfdf;
    font-weight: 500;
    border-radius: 4px;
    padding: 6px;
    padding-left: 12px;
    padding-right: 13px;
    line-height: 100%;
    margin-left: 3px;
    margin-right: 3px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.even-darker
{
    color: #ccc;
    font-size: 18px;
    margin-top: 6px;
    display: inline-block;
}
.darker
{
    color: #ddd;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 17px;
}
.ligher
{
    color: #fff;
}
img#brainbuddy_chatgpt_bard_sidebar
{
opacity: 0.93 !important;
}
.w_
{
    font-weight: 500;
}
.imgbx
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            margin-top: 4px;
}
.u_l
{
    color: #89F8F2;
    /*
    text-decoration: underline;*/
}
.unda
{
    text-decoration: underline;
}
h1 > span.m_n
{
    font-size: 16px;
    display: inline-block;
    position: absolute;
    /* font-weight: bold; */
    color: #aaa !important;
    -webkit-text-fill-color: #aaa;
    width: 42px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    bottom: 16px;
    right: -58px;
}
.m_n
{
    margin-left: 12px;
    margin-right: 12px;
}
h3.m_n
{
    padding: 25px;
    background: #ffffff10;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 17.5px;
    margin-top: 10px;
}
.ML
{
    margin-left: 15px;
}
.snip
{
    border-radius: 50%;
    display: inline-block;
    height: 42px;
    width: auto;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            background: #ffffff22;
            padding: 7px;
}
.less-bm
{
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
}
.ss {
    width: 75%;
    max-width: 800px;
    height: auto;
    margin: 20px;
    border-radius: 8px;
}