{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}


<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->







<!-- Products Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4" >
        <h2 class="section-title px-5"><span class="px-2">Top Rated Products</span></h2>
    </div>
    
    <label for="cars">Choose a Filter:</label><p></p>
    <a href="/Ascending/" value="ascending order">ascending order</a><p></p>
        <a href="/Descending/" value="descending order">descending order</a><p></p>
        <a href="/PriceDescending/" value="Low to High">Low to High</a><p></p>
        <a href="/PriceAscending/" value="High to Low">High to Low</a><p></p>
    <div class="row px-xl-5 pb-3">
        {% for i in all_products  %}
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src={{i.ImgLink}} alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">{{i.Name}}</h6>
                    <div class="d-flex justify-content-center">
                        <h6>{{i.Price}}</h6><h6 class="text-muted ml-2">
                            <!-- <del>{{ i.Price }}</del></h6> -->
                    </div>
                    
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    {% if user.is_authenticated %}
                    <a  class="btn btn-sm text-dark p-0 add_cart m-auto" onclick="AddCartProduct(this)" id="{{i.id}}" ><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}




















        
    </div>
</div>
<!-- Products End -->




<!-- Products Start -->
<!-- <div class="container-fluid pt-5"> -->
    {% if not all_product_shown %}
        <a href="http://127.0.0.1:8000/all">
            <div class="text-center mb-4 "  id="View_all" style="cursor : pointer">
                <h2 class="section-title px-5"><span id="12332" class="px-2">View all Product</span></h2>
            </div>
        </a>
    {% endif %}
</div>
<!-- Products End -->


<!-- Vendor Start -->

<!-- Vendor End -->







{% endblock %}