body{
    position: relative;
}
iframe{
    width: 1536px;
    height: 746px;
    background-color: #111;
    position: absolute;
    top: 0;
    left: 0;
}
.ifrP
{
    position: relative;
    overflow: hidden;
    width: 468px;
    height: 60px;
}
*
{
    overflow: hidden !important;
    margin: 0;
    border: 0;
    outline: 0;
}
.blockifydiv
{
    width: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #0a1817;
    /*border-radius: 0;*/
}
.blockifydiv > div
{
    font-size: 12.5px;
    color: #ddd;
    /*
    padding-left: 7px;
    padding-right: 7px;*/
    text-align: center;
}
.blockifydiv > span
{
    font-size: 15px;
    color: #00ffa1;
    font-weight: 500;    
}
.blockifydiv > img
{
    width: 30px;
    display: none;
}
.fullw
{
    display: -webkit-box;
    display: -ms-flexbox;
    height: 60px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: hidden !important;
}
.arrow-button {
    width: 30px;
    height: 100%;
    border: none;
    background-color: #0a1817;
    position: relative;
    overflow: hidden;
    /*border-radius: 0 0 0 8px;*/
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .arrow-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 9px solid #00ffa1;
    -webkit-transform: translate3d(-72%, -50%, 0);
            transform: translate3d(-72%, -50%, 0);
  }
  
.cross-button {
    width: 30px;
    height: 100%;
    position: relative;
    cursor: pointer;
    background: #000;
    /*border-radius: 0 0 0 7px;*/
    overflow: visible !important;
  }
  /*
  .cross-button > span
  {
      position: absolute;
      width: 15px;
      height: 10px;
      background: inherit;
      bottom: -5px;
      right: -8px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
  }
  */
  .cross-button:before,
  .cross-button:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 11px;
    height: 2px;
    background-color: #00ffa1;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .cross-button:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .cross-button:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }