*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: none;
  outline: 0;
  color: #fff;
}
h1, h2{
font-weight: 400;
}
h1{
font-size: 34px;
}
h2{
font-size: 20px;
}
body
{
width: 100vw;
height: 100vh;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-ms-flex-line-pack: center;
    align-content: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
html, body
{
  margin: 0;
}
.rating {
  display: inline-block;
  direction: rtl; /* Ensure left-to-right direction */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating input {
  display: none;
}

.rating label {
  font-family: Arial, Arial Unicode MS, sans-serif, Lucida Sans Unicode, Microsoft Sans Serif;
  font-size: 38px;
  cursor: pointer;
  padding: 7px;
  padding-left: 9px;
  padding-right: 9px;
  unicode-bidi: bidi-override; /* Fix for RTL rendering */
}

.rating label:before {
  content: '\2605'; /* Unicode character for a solid star */
}

.rating input:checked ~ label:before,
.rating input:hover ~ label:before{
  content: '\2605';
  color: gold;
}
.cross-button {
  width: 70px;
  height: 70px;
  position: fixed;
  top: 40px;
  right: 60px;
  border-radius: 5px;
  cursor: pointer;
  background: #ffffff20;
  /*border-radius: 0 0 0 7px;*/
  overflow: visible !important;
}
.cross-button:before,
.cross-button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  border-radius: 8px;
  height: 2px;
  background-color: #ddd;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cross-button:hover:before,
.cross-button:hover:after 
{
  background-color: #eee;
}
.cross-button:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.cross-button:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}